@import "mixins";
@import "variables";

.followUs {
    padding: 1rem;

    @include media-lg {
        @include flex-center(column, flex-end, flex-start);
        padding-top: 0;
    }

    @include media-xl {
        @include flex-center(column, flex-start, flex-start);
    }

    &_cover {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        height: 40vh;
        display: none;

        @include media-lg {
            display: block;
            width: 150%;
            height: 45vh;
            margin-left: 1rem;
        }

        @include media-xl {
            grid-column: 2/3;
            grid-row: 1/-1;
            width: 100%;
            height: 85vh;
            margin-right: 1rem;
        }
    }

    &_social {
            color: $dark-brown;

        svg {
            padding-right: 1rem;
            padding-top: 1rem;
            font-size: 1.2rem;
        }
    }
}
