@import "mixins";
@import "variables";

.mission {    
    @include media-lg {
        grid-column: 1/-1;
        width: 80%;
    }

    @include media-xl {
        grid-column: auto;
    }

    &_text {
        margin: 1rem 0;
    }
}