@import "mixins";
@import "variables";

.ceo {
    @include grid(1fr, none, none);
    grid-column: 1/-1;
    margin: 2rem 0;

    @include media-lg {
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
    }

    @include media-xl {
        grid-column: auto;
    }

    &_content {

        &_name {
            margin-top: 1.5rem;
        }

        @include media-lg {
            @include flex-center(column, flex-start, space-between);
            margin-top: 0;
        }
    }
}