@import "mixins";
@import "variables";

.sidebar {
    z-index: -1;
    width: 3.5rem;
    

    @include media-lg {
        @include flex-center(column, center, space-between);
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: calc(100vw - 3.5rem);
        border-left: solid 2px $light-brown;
        border-top: none;
    }

    @include media-xl {
        left: calc(100vw - 4.5rem);
    }
}