@import "mixins";
@import "variables";

.btn {
    border: solid 1px $dark-brown;
    color: $dark-brown;
    padding: 0.8rem 1.1rem;
    min-width: 100px;
    max-width: max-content;
    @include flex(row);
    align-items: center;
    justify-content: center;
}