@import "mixins";
@import "variables";

.cartItem {
    @include grid(1fr 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    // image + product name
    .cartTitle {
        @include flex(row);
        align-items: center;
        color: $text-color;
    }

    .cartDescription {
        text-align: right;
    }

    .cartItemTotal {
        color: $text-color;
        text-align: end;
    }

    @include media-md {
        @include grid(0.5fr 1fr 0.3fr 0.3fr);
    }
}