@import "mixins";
@import "variables";

.contactContainer {
    @include grid(1fr, auto, auto);
    padding: 1.5rem;

    @include media-lg {
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem 5%;
    }
}