@import "mixins";
@import "variables";

.contactForm {
   @include flex-center(column, flex-start, space-between);
   width: 80%;

   input, textarea {
       margin: 0.5rem 0;
       border : 1px solid $dark-brown;
       padding: 0.5rem;
       width: 100%;
   }

   textarea {
       height: 100px;
       outline: none;
   }

   button {
       background-color: $dark-brown;
       color: #fff;
       padding: 0.5rem 1rem;
       border: none;
       margin: 0.5rem 0;
   }
}