@import "mixins";
@import "variables";

.hamburgerMenu,
.hamburgerMenuHide {
    position: fixed;
    background-color: $dark-brown;
    height: 100vh;
    width: 100vw;
    top: 58px;
    transition: all 0.7s ease-in-out;
    z-index: 2;
}

.hamburgerMenuHide {
    transform: translateX(150%);
    opacity: 0;
}

.hamburgerMenu {
    transform: translateX(0);

    &_list {
        // @include flex-center(column, flex-start, flex-start);
        @include flex(column);
        list-style: none;
        margin-top: 1rem;

        &_link {
            margin: 1rem 1.5rem 1rem;

            a {
                color: $light-brown;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}
