@import "mixins";
@import "variables";

.myHeader {
    @include flex-center(row, center, space-between);
    border-bottom: solid 2px $light-brown;
    z-index: 2;
    padding-left: 1rem;

    &_logo {
        max-width: 130px;
    }

    @include media-lg {
        padding-left: 2rem;
    }

    &_cart_hamburger {
        @include flex-center(row, center, center);

        svg:nth-child(1) {
            color: $dark-brown;
            margin-right: 10px;
        }

        svg:nth-child(2) {
            color: $light-brown;
            padding: 20px;
            background-color: $dark-brown;
            border-left: solid 1px $light-brown;
        }
    }
}