@import "mixins";
@import "variables";

// container
.myHeader {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px $light-brown;
    z-index: 2;
    padding-left: 1.5rem;
    height: 3rem;

    // logo
    .logo {
        max-width: 120px;
        cursor: pointer;
    }

    // icons
    .cart_hamburger {
        @include flex(row);
        align-items: center;
        gap: 1.5rem;

        svg {
            color: $dark-brown;
            cursor: pointer;
        }

        // hamburger
        .hamburgerIcon {
            color: $light-brown;
            background-color: $dark-brown;
            border-left: solid 1px $light-brown;
            cursor: pointer;
        }

        a {
            color: $light-brown;
        }
    }

    @include media-lg {
        padding-left: 5%;
    }
}