@import "mixins";
@import "variables";

.landingContainer {
    padding: 1.5rem;

    @include media-lg {
        padding: 1.5rem 5%;
    }

    @include media-xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45vh 45vh;
        gap: 2rem;

        .carousal {
            grid-column: 2/3;
            grid-row: 1/-1;
        }
    }
}