@import "mixins";
@import "variables";


.landingCarousal_dots {
    @include flex-center(row, center, center);
    display: none;

    .dotActive, .dotInactive {
        margin: 0.5rem 0.4rem;
        @include transition;
    }

    .dotActive {
        color: $dark-brown;
        border-radius: 50%;
        border: solid 1px transparent;
    }

    .dotInactive {
        color: transparent;
        border: solid 1px $dark-brown;
        border-radius: 50%;
    }

    @include media-lg {
        @include flex-center(column, center, center);
    }
}