@import "mixins";
@import "variables";

// login and signup forms
.forms {
    @include grid(1fr);
    min-height: 80vh;

    // form container
    .formContainer {
        padding: 1.5rem;

        @include media-lg {
            padding: 3rem 11%;
        }
    }

    // login form
    .formContainer:nth-child(1) {
        background-color: $light-brown;
    }

    // form text
    p {
        margin: 1.5rem 0;
    }

    @include media-lg {
        @include grid(1fr 1fr);
    }
}