@import "mixins";
@import "variables";

.location {
    background-image: url("../images/map.png");
    @include background-image;
    min-height: 30vh;

    @include media-lg {
        grid-column: 1/-1;
        min-height: 50vh;
    }

    @include media-xl {
        grid-column: 2/3;
        grid-row: 3/1;
        min-height: 80vh;
    }
}