@import "variables";

@mixin flex ($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
    gap: 1.5rem;
}

@mixin grid ($gridTemplateCol) {
    display: grid;
    grid-template-columns: $gridTemplateCol;
    gap: 3rem;
}

@mixin background-image () {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@mixin transition ($name) {
    transition: $name 0.5s ease;
}

@mixin media-sm {
    @media only screen and (max-width: 481px) {
        @content;
    }
}

@mixin media-md {
    @media only screen and (min-width: 482px) {
        @content;
    }
}

@mixin media-lg {
    @media only screen and (min-width: 769px) {
        @content;
    }
}

@mixin media-xl {
    @media only screen and (min-width: 1025px) {
        @content;
    }
}