@import "mixins";
@import "variables";

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    margin: 1rem;

    @include media-lg {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &_item {
        @include flex-center(column, stretch, space-between);

        &_image {
            margin-bottom: 0.5rem;
        }

        &_details {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr;

            svg {
                text-align: right;
                color: $dark-brown;
            }

            &_title {
                font-size: 0.75rem;
                font-weight: 600;
                line-height: 1.2;
            }

            &_price {
                text-align: right;
                font-size: 0.9rem;
                font-weight: 200;
                line-height: 1.2;
                margin-left: 10px;
            }

            &_footer {
                svg:nth-child(1) {
                    color: #E9D590;
                    font-size: 0.9rem;
                    border: solid 1px $dark-brown;
                    border-radius: 50%;
                    padding: 3px;
                }

                svg:nth-child(2) {
                    color: #C8C8C8;
                    font-size: 0.9rem;
                    margin-left: 20px;
                    margin-right: 10px;
                }

                &_description {
                    line-height: 1.4;
                    font-size: 0.8rem;
                    margin-top: 5px;
                }
            }
        }
    }
}