@import "mixins";
@import "variables";

.product {
    padding-top: 1rem;
    margin-bottom: 4rem;

    @include media-lg {
        padding-top: 0;
    }

    &_description {
        margin: 1rem 0;
        @include flex-center(row, center, flex-start);

        &_text {
            line-height: 1.4;
            font-size: 0.8rem;
        }

        svg:nth-child(1) {
            color: #E9D590;
            font-size: 0.9rem;
            border: solid 1px $dark-brown;
            border-radius: 50%;
            padding: 3px;
        }

        svg:nth-child(2) {
            color: #C8C8C8;
            font-size: 0.9rem;
            margin-left: 20px;
            margin-right: 10px;
        }
    }

    &_rating {
        color: $dark-brown;

        svg {
            margin-right: 10px;
        }
    }

    &_addToCart_btn {
        border: solid 1px $dark-brown;
        padding: 0.5rem 1rem;
        background-color: #fff;
        margin-top: 1rem;
    }
}