@import "mixins";
@import "variables";

.filterBox {
   @include flex(row);
   justify-content: space-between;
   padding: 1.5rem;

   @include media-lg {
    padding: 3rem 5%;
}

   &_dropdowns {
       &_filter, &_sort {
           outline: none;
           border: none;
           border-bottom: solid 1px $dark-brown;
           margin-left: 1rem;
           background: transparent;
       }
   }
}