@import "mixins";
@import "variables";

.productShippingList {
    list-style: none;
    font-size: 0.8rem;
    margin: 4rem 0 1rem;

    &_item {
        margin: 1rem 0;

        svg {
            color: $dark-brown;
            margin-right: 1rem;
        }
    }
}