@import "mixins";
@import "variables";

.productCarousal {
    @include flex-center(column, center, center);
    margin-bottom: 2rem;
    position: relative;

    &_dots {
        position: absolute;
        top: 90%;
        color: #fff;

       svg:nth-child(1) {
            color: $dark-brown;
        }

       svg {
            margin: 0 10px;
        }
    }
}