@import "mixins";
@import "variables";

.products {
    @include grid(1fr 1fr, auto, auto);
    grid-template-rows: auto;
    padding: 1.5rem;
    gap: 3rem;

    @include media-lg {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1.5rem 5%;
    }
}