@import "mixins";
@import "variables";

.products_item {
    @include flex-center(column, stretch, space-between);
    gap: 1rem;

    &_details {
        @include grid(3fr 1fr, auto, auto);
        grid-template-rows: 0.8fr 1fr;
        gap: 0;

        a {
            font-weight: 600;
            color: $dark-brown;
        }

        &_price {
            text-align: right;
            margin-left: 10px;
        }

        &_footer {
            svg:nth-child(1) {
                color: #E9D590;
                font-size: 0.9rem;
                border: solid 1px $dark-brown;
                border-radius: 50%;
                padding: 3px;
            }

            svg:nth-child(2) {
                color: #C8C8C8;
                font-size: 0.9rem;
                margin-left: 20px;
                margin-right: 10px;
            }

            &_description {
                margin-top: 10px;
            }
        }

        &_cartBtn {
            text-align: right;
            color: $dark-brown;
            font-size: 1.1rem;
        }
    }
}