@import "mixins";
@import "variables";

.products {
    @include grid(1fr 1fr);
    grid-template-rows: auto;
    padding: 1.5rem;

    @include media-lg {
        @include grid(1fr 1fr 1fr);
        padding: 0 5%;
    }
}