@import "mixins";
@import "variables";

// container
.shopLanding {
    @include grid(1fr 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0;

    // text
    &_content {
        grid-column: 1/-1;
        @include flex(column);
        justify-content: center;
        padding: 1.5rem;
        background-color: $light-brown;

        @include media-lg {
            grid-column: auto;
            padding: 3rem;
        }

        button {
            background-color: #fff;
        }
    }

    @include media-lg {
        @include grid(0.5fr 0.5fr 1fr);
        grid-template-rows: auto;
        gap: 0;
    }
}