@import "mixins";
@import "variables";

.socialIcons {
    list-style: none;
    @include flex-center(row, center, flex-start);

    &_link {
        margin-right: 10px;
    }

    svg {
        cursor: pointer;
        color: $dark-brown;
    }
}

.flexCol {
    flex-direction: column;
}