@import "mixins";
@import "variables";

.socialIcons {
    list-style: none;
    @include flex-center(row, center, flex-start);

    &_link {
        margin: 5px;
    }

    svg {
        cursor: pointer;
        color: $dark-brown;
    }
}

.flexCol {
    flex-direction: row;
    justify-content: center;

    @include media-lg {
        flex-direction: column;
    }
}