$text-color: #444;
$heading-color: #252525;
$hover-color: #e29f01;
$dark-brown: #775A4C;
$light-brown: #EBD5C7;
$white: #fff;
$balck: #000;
$font-weights: ("regular": 400,
    "medium": 500,
    "bold": 600);