@import "../mixins";
@import "../variables";

.productInfo {
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: 1px solid $light-brown;
    border-bottom: 1px solid $light-brown;

    &_heading {
        margin: 1.5rem 0;
    }

    &_details {
        margin: 1.5rem 0;
    }

    &_list {
        list-style: none;

        &_item {
            margin: 1.5rem 0;
        }
    }

    &_list_material {
        list-style: none;
        margin: 1.5rem 0;
    }
}