@import "../mixins";
@import "../variables";

.landingCarousal_dots {
    @include flex-center(row, center, center);
    gap: 1rem;
    margin-bottom: 1rem;

    .dotActive,
    .dotInactive {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .dotActive {
        border: solid 1px transparent;

        svg {
            color: $dark-brown;
        }
    }

    .dotInactive {
        border: solid 1px $dark-brown;

        svg {
            color: transparent;
        }
    }
}