@import "../mixins";
@import "../variables";

.landingCarousal_dots {
    @include flex(row);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    .dotActive,
    .dotInactive {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .dotActive {
        border: solid 1px transparent;

        svg {
            color: $dark-brown;
        }
    }

    .dotInactive {
        border: solid 1px $dark-brown;

        svg {
            color: transparent;
        }
    }
}