@import "../mixins";
@import "../variables";

.mission {    
    @include media-lg {
        grid-column: 1/-1;
    }

    @include media-xl {
        grid-column: auto;
    }

   .text {
        margin-top: 2rem;
    }
}